* {
    font-family: 'Righteous', sans-serif;
    box-sizing: border-box;
    }

    section#contentCard {
        padding: 1rem;
        height: 100vh;
        display: flex;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items:center;
        gap: 30px;
        box-shadow:  33px 33px 67px #a79f9f,
                    -33px -33px 67px #e1d7d7;
    }

    .card {
        height: 40.125rem;
        width: 23.375rem;
        border-radius: 2rem;
        background-color: #a18cd1;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    
    #contentCard h1 {
        margin: 32px 0;
        display: flex;
        justify-content: center;
    }
    
    .card img {
        max-width: 60%;
        position: absolute;
        transform: translate(34%,58%);
    }
    
    
    #firstCard {
        height: 25.3125rem;
        max-width: 100%;
        border-radius: 2rem;
        background-color: #c0c0ab;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    
    #firstCard ol {
        list-style: none;
        display: flex;
        margin-bottom: 150px;
        gap: 20px;
    }
    
    
    #secondCard {
        height: 15.3125rem;
        max-width: 100%;
        border-radius: 2rem;
        background-color: #bebb23;
    }
    
    #secondCard #button {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2rem;
        }

    #button button {
        background: none;
        border: none;
        cursor: pointer;
    }

    #secondCard #about ol {
        display: flex;
        flex-direction: column;
        gap:15px;
        list-style: none;
    }

    #secondCard .baseStats ol {
        display: flex;
        flex-direction: column;
        gap:15px;
        list-style: none;
    }

    #secondCard .evolution ol {
        display: flex;
        justify-content: center;
        background-color: #a18cd1;
        width: 8.125rem;
        height: 8.125rem;
    }







