* {
font-family: 'Righteous', sans-serif;
box-sizing: border-box;
}

section.content {
    padding: 1rem;
    height: 100vh;
    background-color: #F6F8FC;
}



section.content h1 {
    margin: 0;
}


ol.pokemons {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}

@media screen and (min-width:992px) {
    section.content {
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;
    }
}

@media screen and (min-width:576px) {
    ol.pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width:992px) {
    ol.pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}