* {
font-family: 'Righteous', sans-serif;
box-sizing: border-box;
}

section.content {
    padding: 1rem;
    height: 100vh;
    background-color: #F6F8FC;
    position: relative;
}


section.content h1 {
    margin: 0;
    font-size: 3.125rem;}


ol#pokemons {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}

div#button {
    position: absolute;
    display: flex;
    /*margin-left: 879px;*/
    bottom: 33px;
}

#button button:hover {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);}

#loadMore {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: none;
    border-radius: 50%;
    background: linear-gradient(145deg, #efe8f8, #c9c3d1);
    box-shadow:  22px 22px 100px #88848e,
             -22px -22px 100px #ffffff;    
}



@media screen and (min-width:992px) {
    section.content {
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;
        position: relative;
    }
}

@media screen and (min-width:576px) {
    section.content {
        height: auto;
        border-radius: 1rem;
    }
}


@media screen and (min-width:576px) {
    ol#pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media screen and (min-width:992px) {
    ol#pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}